:root {
  --green: rgba(9, 110, 108, 0.895);
  --purple: rgba(39, 6, 68, 0.717);
  --pink: rgba(248, 222, 136, 0.895);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url("https://media01.stockfood.com/largepreviews/MzA4OTE2ODY=/00996506-Bread-wreaths-with-pearl-sugar-on-baking-tray-close-up.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(238, 242, 245);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--pink);
  color: var(--purple);
  font-size: 1.5rem;
  padding: 0.25em;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.date_time {
  font-family: "Special Elite", cursive;
}
h2 {
  font-family: "Special Elite", cursive;
}
#intro {
  height: 100vh;
  width: auto;
  margin: 0;
  background-image: url(/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--purple);
  text-align: right;
  display: flex;
  align-items: center;
}
#love_baking {
  background-color: rgba(248, 222, 136, 0.502);
  width: 65vw;
  margin: auto;
  text-align: left;
  padding: 2vw;
}

#tips {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 85vw;
  margin: auto;
  padding-left: 2vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: var(--pink);
  color: var(--purple);
}
.img_tips {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 3px solid var(--purple);
  border-radius: 5px;
  height: 35vw;
  width: 30vw;
  margin: 2vw;
}
#list {
  list-style-type: none;
  padding: 0.75em;
}
li {
  padding: 0.75em;
  text-align: left;
  font-weight: bold;
}

#section-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.75em;
  padding: 0.5em;
  margin-top: auto;
  position: sticky;
  bottom: 0%;
  width: 100%;
  background-color: var(--green);
}
